@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;500&family=Merienda+One&display=swap");

:root {
  --brown: #993333;
  --text: #454545;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;

  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
}

.back-container {
  background: transparent
    linear-gradient(
      180deg,
      var(--unnamed-color-fccb68) 0%,
      var(--unnamed-color-cb9866) 13%,
      var(--unnamed-color-cb6633) 32%,
      var(--unnamed-color-659866) 51%,
      var(--unnamed-color-669833) 69%,
      var(--unnamed-color-339898) 85%,
      var(--unnamed-color-346767) 100%
    )
    0% 0% no-repeat padding-box;
  background: transparent
    linear-gradient(
      180deg,
      #fccb68 0%,
      #cb9866 13%,
      #cb6633 32%,
      #659866 51%,
      #669833 69%,
      #339898 85%,
      #346767 100%
    )
    0% 0% no-repeat padding-box;
}

h2 {
  color: var(--brown);
  font-size: 3.5rem;
  font-family: "Merienda One", cursive;
}

h2 small {
  display: block;
}

p {
  color: var(--text);
  font-size: 2.2rem;
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  margin: 30px 0;
}

footer {
  background-color: #173533;
  padding: 50px 0;
}

.absolute {
  position: absolute;
}

.c-cta_content_text {
  max-width: 900px !important;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

.container-fluid {
  width: 100% !important;
  max-width: 100% !important;
  text-align: center;
  padding: 0 !important;
}
.container-fluid .zoom {
  background-image: url(../images/anonimo.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;
  cursor: zoom-in;
}
.container-fluid .zoom img {
  transition: opacity 0.5s;
  display: block;
  width: 100%;
}
.container-fluid .zoom img:hover {
  opacity: 0;
}

.img-fluid {
  width: 100%;
}

.m-20 {
  margin: 20% 0 !important;
}

.mt-20 {
  margin-top: 20% !important;
}

.o-image {
  opacity: 1;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.thumbs-block {
  position: relative;
  overflow: hidden;
}

.thumbs-block .thumbs {
  display: flex;
  flex-flow: row nowrap;
  background-size: cover;
  padding: 70px;
}

.thumbs-block .thumbs .thumb img {
  max-width: 250px;
  margin: 20px;
  transform: scale(1);
  transition: all 0.8s ease-in-out;
}

.thumbs-block .thumbs .thumb img:hover {
  max-width: 250px;
  margin: 20px;
  transform: scale(1.3);
  transition: all 0.8s ease-in-out;
  z-index: 1;
  cursor: pointer;
}

.thumbs-block .thumbs .background img {
  position: absolute;
  width: auto !important;
  max-width: inherit;
  left: 0;
  top: 0;
}

.w-50 {
  width: calc(50% - 5px);
  display: inline-block;
}

.w-80 {
  width: 80%;
}

.o-image_wrapper {
  overflow: visible !important;
  background-color: transparent;
}

/* background middle layer*/
div#parallax-bg-1,
div#parallax-bg-2 {
  position: absolute;
}

div#parallax-bg-1-2 {
  position: relative;
}

#bg-1-1 {
  width: 100%;
  transform: translate(-50%, 0px);
}

#bg-1-2 {
  width: 100%;
  transform: translate(-50%, -20%);
}

div#bg-2-1 {
  background: url("../images/brazo-dayro-2.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  top: -100px;
  transform: translate(-300px, 0px);
}

.f-h {
  height: 100vh;
  width: 100%;
}

.f-w {
  width: 100%;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.z-1 {
  z-index: 100;
  position: relative;
}

/** gallery **/

.gallery {
  padding: 2px;
}
.gallery .photo {
  position: relative;
  float: left;
  margin: 2px;
  width: 33%;
  cursor: pointer;
  background: #000;
  -webkit-animation: small 0.5s ease-in-out both;
  animation: small 0.5s ease-in-out both;
  -webkit-transition: z-index 0s linear 0.5s, -webkit-transform 0.5s ease-in-out;
  transition: z-index 0s linear 0.5s, -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, z-index 0s linear 0.5s;
  transition: transform 0.5s ease-in-out, z-index 0s linear 0.5s,
    -webkit-transform 0.5s ease-in-out;
}
.gallery .photo.active {
  -webkit-animation: big 0.5s ease-in-out both;
  animation: big 0.5s ease-in-out both;
}
.gallery .photo.photo:nth-child(1) {
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}
.gallery .photo.photo:nth-child(2) {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
.gallery .photo.photo:nth-child(3) {
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
}

.gallery .photo.photo:nth-child(4) {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}
.gallery .photo.photo:nth-child(5) {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.gallery .photo.photo:nth-child(6) {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
.gallery .photo.photo:nth-child(7) {
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}
.gallery .photo.photo:nth-child(8) {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.gallery .photo.photo:nth-child(9) {
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.gallery .photo img {
  width: 100%;
  height: auto;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.gallery .photo.away img {
  opacity: 0;
}

@-webkit-keyframes big {
  0%,
  1% {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 2;
  }
  100% {
    z-index: 2;
    -webkit-transform: scale(3.0625);
    transform: scale(3.0625);
  }
}

@keyframes big {
  0%,
  1% {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 2;
  }
  100% {
    z-index: 2;
    -webkit-transform: scale(3.0625);
    transform: scale(3.0625);
  }
}
@-webkit-keyframes small {
  0% {
    -webkit-transform: scale(3.0625);
    transform: scale(3.0625);
    z-index: 2;
  }
  99% {
    z-index: 2;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    z-index: 1;
  }
}
@keyframes small {
  0% {
    -webkit-transform: scale(3.0625);
    transform: scale(3.0625);
    z-index: 2;
  }
  99% {
    z-index: 2;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    z-index: 1;
  }
}

.horizontal-scroll {
  height: 100vh;
  overflow: hidden;
  display: flex;
  left: 0;
}

.pin-wrap {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 10vw;
}

.pin-wrap > * {
    min-width: 60vw;
    padding: 0 5vw;
}

/***TOGGLE***/

.toggle{
  padding: 20px;
  border-radius: 100px;
  border: 1px solid;
  font-size: 30px;
  transition: all .4s ease-in-out;
}

.toggle img{
  width: 30px;
  margin: -7px 10px 10px;
  vertical-align: middle;
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(346deg) brightness(0%) contrast(100%);
  transition: all .4s ease-in-out;
}

.toggle:hover img{
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(100%);
  transition: all .4s ease-in-out;
}

.toggle-content {
	display: none;
	height: 0;
  opacity: 0;
	overflow: hidden;
	transition: height 350ms ease-in-out, opacity 750ms ease-in-out;
}

.toggle-content.is-visible {
	display: block;
	height: auto;
  opacity: 1;
}
