*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

em{
  font-style: italic;
}

b{
  font-weight: 700;
}

p{
  line-height: 160%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
}

html {
  overflow-x: hidden;
}

iframe{
  width: 100%;
  height: 70vh;
  display: block;
  margin: 10% 0;
}

footer{
  background-color: #173533;
  padding: 100px 20px;
  text-align: center;

  img{
    max-width: 1000px;
    width: 100%;
    display: inline-block;
    padding: 50px;
  }

  p{
    font-size: 35px !important;
    max-width: 700px;
    margin: 0 auto;
    :first-child{
      font-size: 40px !important;
      font-weight: 700 !important;
    }
  }
}


a{
  font-family: "Dosis", sans-serif;
}

//-//

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;500&family=Merienda+One&display=swap");

#gradient {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -10;
}

.cover{
  background-color: rgb(252,203,104) !important;
  position: absolute;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  h1{
    color: #993333;
    font-size: 5rem;
    font-family: "Merienda One", cursive;
    -webkit-animation: scale 3s ease-out;
    animation: scale 3s ease-out;

    small{
      font-size: 3rem;
      display: block;
      opacity: 0;
      -webkit-animation: scale 4s 1s ease-out forwards;
      animation: scale 4s 1s ease-out forwards;
    }
  }
  .toggle{
    opacity: 0;
    -webkit-animation: appear 1s 3s ease-out forwards;
    animation: appear 1s 3s ease-out forwards;
  }
}

.mt-5{
  margin-top: 5% !important; 
}

.mt-10{
  margin-top: 10% !important; 
}

.mt-20{
  margin-top: 20% !important; 
}

.mb-5{
  margin-bottom: 5% !important;
}


#container {
  padding: 0;
  position: relative;
  z-index: 100;
  overflow-x: hidden;
  background-color: transparent;
  -webkit-animation: appear .5s 1s ease-in-out both;
  animation: appear .5s 1s ease-in-out both;
  //mix-blend-mode: overlay;

  &::after {
    content: "";
    position: absolute;
    z-index: 500;
    bottom: 5vh;
    left: 15vw;
    width: 70vw;
    height: 2px;
    border-top: 1px dashed rgba($color: beige, $alpha: 0.2);
  }

  #colorsBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 100vh);
    pointer-events: none;

    .colorTrigger {
      position: relative;
      width: 100%;
    }
  }

  section {
    width: 100%;
    padding: 0vh 0 8vh 0;
    max-width: 75vw;
    margin: 0 auto;
    display: grid;
    align-items: center;
    position: relative;

    &:first-of-type {
      padding: 0;
    }

    &.ubicacion {
      width: 100vw;
      height: 100vh;
      position: relative;
      margin-bottom: 0vh;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        position: absolute;
        z-index: 500;
        width: 90vw;
        max-width: 90vw;
        height: 90vh;
        max-height: 90vh;

        &.map-colombia {
          width: 100vw;
          max-width: 100vw;
          left: 6vw;
        }
      }

      h3 {
        --min: 2rem;
        --val: 3rem;
        --max: 4rem;
        font-family: "Merienda One", cursive;
        font-weight: normal;
        font-style: normal;
        line-height: 160%;
        margin: 0 0 5vh 0;
        color: #993333;
        opacity: 1;
        max-width: 70vw;
        position: absolute;
        z-index: 100;
        left: 8vw;
        opacity: 1;

        &:nth-child(1) {
          opacity: 1;
        }

        &:nth-child(2) {}

        &:nth-child(3) {
          opacity: 1;
        }

        &:nth-child(4) {}

      }
    }

    &.m-section{
      min-height: 70vh;
    }

    &.big-quote{
      display: flex;
      margin: 0 auto;
      max-width: 800px;

      p{
        --min: 2.2rem;
        --val: 2.2rem;
        --max: 5rem;
        display: -webkit-box;
      }
    }

    &.divider{
      height: 100vh;
    }

    &.mid-divider{
      height: 50vh;
    }

    &.dark{
      p{
        color: #454545 !important;
      }
      
    }

    &:first-of-type {
      padding: 0;
    }

    .right-col{
      width: 60%;
      margin-left: 40%;
    }

    .left-col{
      width: 70%;
    }

    &.f-width{
      max-width: 100%;

      img{
        width: 100%;
      }
    }

    &.m-width{
      max-width: 800px;

    }

  }

  .center{
    text-align: center;
  }

  .right{

    h2,
    p{
      text-align: right;
    }
  }

  h2,
  h3,
  small,
  p {
    -webkit-marquee-increment: 0vw;
    font-size: clamp(var(--min), var(--val), var(--max));
  }

  h2 {
    --min: 3rem;
    --val: 3.8rem;
    --max: 5rem;
    font-family: "Merienda One", cursive;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    margin: 0 0 5vh 0;
    color: #993333;
    opacity: 1;
    
    &.big-title{
      --min: 2rem;
      --val: 4.5rem;
      --max: 8rem;
    }

    small{
      --min: 2rem;
      --val: 3rem;
      --max: 4rem;
      display: block;
      margin-bottom: 20px;
    }
  }

  p {
    --min: 1.6rem;
    --val: calc(0.5vw + 1.4rem);
    --max: 2.8rem;
    font-family: "Dosis", sans-serif;
    line-height: 160%;
    color: white;
    padding: 10px 0 10px 0;
    font-weight: 300;

  }

  .manoBox {
    position: absolute;
    z-index: 200;
    pointer-events: none;

    p{
      font-size: .8rem;
      position: relative;
    }

    img {
      width: 100%;

      &.manoA {
        position: relative;
        z-index: 10;
      }

      &.manoBrillo {
        position: absolute;
        z-index: 20;
        top: 0;
        left: 0;
        opacity: 0;
        -webkit-transition: opacity 0.7s ease-out;
        -moz-transition: opacity 0.7s ease-out;
        -o-transition: opacity 0.7s ease-out;
        transition: opacity 0.7s ease-out;

        &.active {
          opacity: 1;
        }
      }
    }

    &#mano1 {
      width: 90vw;
      top: 0%;
      left: -60vw;

      p{
        text-align: right;
        position: absolute;
        top: -50px;
        right: 20vw;
      }
    }

    &#mano2 {
      width: 90vw;
      top: 70%;
      right: -20vw;
      p{
        text-align: center;
        color: #454545 !important;
      }
    }

    &#mano3 {
      width: 90vw;
      top: 0%;
      left: -60vw;
      
      p{
        text-align: right;
      }
    }

    &#mano4 {
      width: 70vw;
      top: 30%;
      right: -20vw;

      p{
        text-align: center;
        color: #454545 !important;
      }
    }
  }
}

.zoom{
  img{
  display: inline-block;
  width: 100%;
  }
}

.container-fluid{
  &.territorioPazzz{
    img{
      width: 100%;
      display: inline-block;
    }
  }
}

.credit{
  font-size: .9rem !important;
  text-align: center;
}

#countdown{
  background: url('../images/video.png');
  background-size: cover;
  width: 100%;
  padding: 100px;

  ul{
    width: 500px;
    height: 500px;
    display: grid;
    border: 1px solid #fff; 
    border-radius: 100%;
    justify-items: center;
    margin: 0 auto;
    padding: 6rem;

    li{
      font-family: "Merienda One", cursive;
      font-size: 3rem;
      color: white;
    }
  }
}

/***TOGGLE***/

.toggle,
.graphic-table {
  padding: 20px;
  border-radius: 100px;
  border-color: white !important;
  color: white;
  text-decoration: none;
  border: 1px solid;
  font-size: 1.2rem;
  transition: all 0.4s ease-in-out;
  display: inline-block;
}

.graphic-table:hover {
  background-color: #000;
  color: #fff;
}

.toggle{

  margin: 4rem 0;
  text-align: center;
  max-width: 400px;
  transition: all 1s;

  &:hover{
    transition: all 1s;
    background: #FCCB68;
    box-shadow: 0 0 5px #FCCB68, 0 0 25px #FCCB68, 0 0 50px #fff, 0 0 100px #fff;
  }

  img {
    width: 30px;
    margin: -7px 10px 10px;
    vertical-align: middle;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%)
    contrast(100%);
    transition: all 0.4s ease-in-out;
    display: inline-block;
  }

  &:hover img {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%)
      contrast(100%);
    transition: all 0.4s ease-in-out;
  }
  &.dark{
    color: #454545;
    border-color: #454545 !important;

    img{
      -webkit-filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(30%) contrast(100%);
      filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(30%) contrast(100%);
    }
  }
}

.toggle-content{
  display: none;
  height: auto;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;

  &.is-visible {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100vh !important;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
}

.inside-button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0px 18px 5px !important;
  z-index: 999999;
}

.mask-image {
  mask-image: url("https://res.cloudinary.com/daqkfiwnc/image/upload/v1647573770/assets/mask_cloud_gzcgdf.png");
  mask-size: 100% 100%;
  mask-mode: alpha;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url("https://res.cloudinary.com/daqkfiwnc/image/upload/v1647573770/assets/mask_cloud_gzcgdf.png");
  -webkit-mask-size: 300% 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  &.is-inview {
    mask-image: url("https://res.cloudinary.com/daqkfiwnc/image/upload/v1647573770/assets/mask_cloud_gzcgdf.png");
    mask-size: 100% 100%;
    mask-mode: alpha;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: url("https://res.cloudinary.com/daqkfiwnc/image/upload/v1647573770/assets/mask_cloud_gzcgdf.png");
    -webkit-mask-size: 300% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    animation-name: mask-animation-image;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: var(--cream);
  mask-image: url("https://res.cloudinary.com/daqkfiwnc/image/upload/v1647573770/assets/mask_cloud_gzcgdf.png");
  mask-size: 100% 100%;
  mask-mode: alpha;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url("https://res.cloudinary.com/daqkfiwnc/image/upload/v1647573770/assets/mask_cloud_gzcgdf.png");
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  animation-name: mask-animation;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.mask-hide {
  animation-name: mask-hide;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.modal{

  &#fragmentos {
    background-color: #cb9866;
  }

  &#entre-dientes {
    background-color: #987f4d;
  }

  &#anonimos {
    background-color: #339898;
  }

  &#pazzz {
    background-color: #348080;
  }

}

.content-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes appear {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale{
  0%{
    transform: scale(.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes big {
  0%,
  1% {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 2;
  }
  100% {
    z-index: 2;
    -webkit-transform: scale(3.0625);
    transform: scale(3.0625);
  }
}

@keyframes big {
  0%,
  1% {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 2;
  }
  100% {
    z-index: 2;
    -webkit-transform: scale(3.0625);
    transform: scale(3.0625);
  }
}
@-webkit-keyframes small {
  0% {
    -webkit-transform: scale(3.0625);
    transform: scale(3.0625);
    z-index: 2;
  }
  99% {
    z-index: 2;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    z-index: 1;
  }
}
@keyframes small {
  0% {
    -webkit-transform: scale(3.0625);
    transform: scale(3.0625);
    z-index: 2;
  }
  99% {
    z-index: 2;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    z-index: 1;
  }
}

@keyframes mask-animation {
  0% {
    opacity: 1;
    mask-size: 0vw 0vh;
    -webkit-mask-size: 0vw 0vh;
  }
  100% {
    opacity: 1;
    mask-size: 300vw 300vh;
    -webkit-mask-size: 300vw 300vh;
  }
}
@keyframes mask-animation-image {
  0% {
    opacity: 0;
    mask-size: 0% 0%;
    -webkit-mask-size: 0% 0%;
  }
  100% {
    opacity: 1;
    mask-size: 300% 100%;
    -webkit-mask-size: 300% 100%;
  }
}

@keyframes mask-hide {
  0% {
    opacity: 1;
    mask-size: 300vw 300vh;
    -webkit-mask-size: 300vw 300vh;
  }
  100% {
    opacity: 1;
    mask-size: 0vw 0vh;
    -webkit-mask-size: 0vw 0vh;
  }
}

/** gallery **/

.gallery {
  padding: 2px;
  padding: 2px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;

  .photo{
    position: relative;
    float: left;
    margin: 2px;
    width: 32%;
    cursor: -webkit-zoom-in;
    background: #000;
    -webkit-animation: small 0.5s ease-in-out both;
    animation: small 0.5s ease-in-out both;
    -webkit-transition: z-index 0s linear 0.5s, -webkit-transform 0.5s ease-in-out;
    transition: z-index 0s linear 0.5s, -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, z-index 0s linear 0.5s;
    transition: transform 0.5s ease-in-out, z-index 0s linear 0.5s,
      -webkit-transform 0.5s ease-in-out;

    &.active {
      -webkit-animation: big 0.5s ease-in-out both;
      animation: big 0.5s ease-in-out both;
      cursor: -webkit-zoom-out;
    }
    &:nth-child(1) {
      -webkit-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
    }
    &:nth-child(2) {
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
    }
    &:nth-child(3) {
      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
    }
    
    &:nth-child(4) {
      -webkit-transform-origin: 0% 50%;
      transform-origin: 0% 50%;
    }
    &:nth-child(5) {
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
    }
    &:nth-child(6) {
      -webkit-transform-origin: 100% 50%;
      transform-origin: 100% 50%;
    }
    &:nth-child(7) {
      -webkit-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
    }
    &:nth-child(8) {
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
    }
    &:nth-child(9) {
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }
    img {
      width: 100%;
      height: auto;
      -webkit-transition: opacity 0.5s ease-in-out;
      transition: opacity 0.5s ease-in-out;
    }
    &.away img {
      opacity: 0;
    }
  }

}

/*** LINEA DE TIEMPO ***/

.linea-interactiva {
  position: relative;
  height: 100%;

  .fechas {
    height: 170%;
    position: absolute;
    z-index: 9999;
    top: -24%;
    cursor: pointer;

    .forma-interactiva{
      background: rgba(252, 203, 104, .5);
      border-radius: 100%;
      width: 100px;
      height: 100px;
      transform-origin: center;
    }

    &:hover .forma-interactiva {
      opacity: 1;
      transition: all 0.2s ease-in-out;
    }

    .fecha {
      font-size: 1.8rem;
      color: #fff;
      font-family: "Dosis", sans-serif;
      font-weight: 300;
      position: absolute;
    }

    &.fecha-1980 {
      width: 30%;

      &:hover .forma-interactiva {
        transition: all 0.2s ease-in-out;
        border-radius: 0%;
        width: 88%;
        height: 27%;
      }  

      &:hover .content-fecha {
        height: 50%;
        opacity: 1;
        transition: all 0.2s ease-in-out;
      }

      .content-fecha {
        position: absolute;
        height: 0%;
        width: 100%;
        bottom: 30%;
        opacity: 0;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
      }

      .fecha {
        bottom: 5%;
        left: 25%;
      }

      .linea-fecha {
        position: absolute;
        border-color: #fff;
        border-style: solid;
        border-right: 1px;
        border-top: 1px;
        width: 100%;
        height: 260px;
        bottom: 0%;
        left: 18%;
      }

      .forma-interactiva {
        transform: skew(0deg, 6deg);
        -webkit-transform: skew(0deg, 0deg);
        -moz-transform: skew(0deg, 0deg);
        -o-transform: skew(0deg, 0deg);
        -ms-transform: skew(0deg, 0deg);
        position: absolute;
        top: 37%;
        left: 10%;
        transition: all 0.2s ease-in-out;
      }
    }
    
    &.fecha-1988 {
      width: 21%;
      left: 30%;

      .content-fecha {
        position: absolute;
        height: 0%;
        width: 100%;
        top: 0%;
        opacity: 1;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
      }

      .fecha {
        top: 20%;
        left: 0%;
      }

      .linea-fecha {
        position: absolute;
        border-color: #fff;
        border-style: solid;
        border-left: 1px;
        border-bottom: 1px;
        width: 65%;
        height: 254px;
        top: 40%;
        left: 0%;
      }

      .forma-interactiva {
        transform: skew(-2deg, 3deg);
        -webkit-transform: skew(-2deg, 3deg);
        -moz-transform: skew(-2deg, 3deg);
        -o-transform: skew(-2deg, 3deg);
        -ms-transform: skew(-2deg, 3deg);
        position: absolute;
        top: 26%;
        left: 13%;
        transition: all 0.2s ease-in-out;
      }

      &:hover .content-fecha {
        height: 50%;
        opacity: 1;
        transition: all 0.2s ease-in-out;
      }  

      &:hover .forma-interactiva {
        transition: all 0.2s ease-in-out;
        border-radius: 0%;
        width: 56%;
        height: 37%;
      }      
    }
    
    &.fecha-1997 {
      width: 10%;
      left: 51%;

      &:hover .content-fecha {
        height: 50%;
        opacity: 1;
        transition: all 0.2s ease-in-out;
      }
      
      &:hover .forma-interactiva {
        border-radius: 0%;
        width: 74%;
        height: 29%;
        transition: all 0.2s ease-in-out;
      }  

      .content-fecha {
        position: absolute;
        height: 0%;
        width: 100%;
        top: 0%;
        opacity: 0;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
      }

      .fecha {
        top: 32%;
        left: 0%;
        width: 100%;
      }

      .linea-fecha {
        position: absolute;
        border-color: #fff;
        border-style: solid;
        border-right: 1px;
        border-bottom: 1px;
        width: 100%;
        height: 201px;
        top: 52%;
        left: 2%;
      }

      .forma-interactiva {
        transform: skew(-2deg, 3deg);
        -webkit-transform: skew(-2deg, 3deg);
        -moz-transform: skew(-2deg, 3deg);
        -o-transform: skew(-2deg, 3deg);
        -ms-transform: skew(-2deg, 3deg);
        position: absolute;
        left: 0%;
        top: 34%;
        transition: all 0.2s ease-in-out;
      }
    }
    
    &.fecha-2005 {
      width: 39%;
      left: 61%;

      &:hover .content-fecha {
        height: 50%;
        opacity: 1;
        transition: all 0.2s ease-in-out;
      }

      &:hover .forma-interactiva {
        border-radius: 0%;
        width: 36%;
        height: 18%;
        transition: all 0.2s ease-in-out;
      }  

      .content-fecha {
        position: absolute;
        height: 0%;
        width: 100%;
        bottom: 30%;
        opacity: 0;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
      }

      .fecha {
        bottom: 5%;
        left: 25%;
      }

      .linea-fecha {
        position: absolute;
        border-color: #fff;
        border-style: solid;
        border-right: 1px;
        border-top: 1px;
        width: 100%;
        height: 260px;
        bottom: 0%;
        left: 18%;
      }

      .forma-interactiva {
        transform: skew(0deg, 6deg);
        -webkit-transform: skew(-3deg, 3deg);
        -moz-transform: skew(-3deg, 3deg);
        -o-transform: skew(-3deg, 3deg);
        -ms-transform: skew(-3deg, 3deg );
        position: absolute;
        top: 37%;
        left: 4%;
        transition: all 0.2s ease-in-out;
      }
    }
  }

}

/***ENTRE DIENTES***/

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.thumbs-block {
  position: relative;
  overflow: hidden;
}

.thumbs-block .thumbs {
  display: flex;
  flex-flow: row nowrap;
  background-size: cover;
  padding: 70px;
}

.thumbs-block .thumbs .thumb img {
  max-width: 350px;
  margin: 20px;
  transform: scale(1);
  transition: all 0.8s ease-in-out;
}

.thumbs-block .thumbs .thumb img:hover {
  transform: scale(1.3);
  transition: all 0.8s ease-in-out;
  z-index: 1;
  cursor: pointer;
}

.thumbs-block .thumbs .background img {
  position: absolute;
  width: auto !important;
  max-width: inherit;
  left: 0;
  top: 0;
}

.title-yellow{
  color: #FCCB68 !important;
}

.w-5{
  max-width: 50vw;
  margin: 0 auto;
}

@media screen and (max-width: 1300px){
  #container{
    section{
      
      max-width: 90vw;

      &.big-quote{
        max-width: 600px;
        padding: 20px;

        p{
          --min: 1.5rem;
          --val: 1.8rem;
          --max: 5rem;
        }
      }
    }
    h2{
      &.big-title{
        --val: 4rem;
      }
    }
  }
}

@media screen and (max-width: 920px){
  #container{

    section{
      
      padding: 20px;
      max-width: 90vw;
      display: block;

      &.divider{
        height: 50vh;
      }

      &.mid-divider {
        height: 20vh;
      }

      &.big-quote{
        max-width: 600px;

        p{
          --min: 1rem;
          --val: 1.4rem;
          --max: 5rem;
        }
      }
      .right-col{
        width: 100%;
        margin-left: 0;
      }

      .left-col{
        width: 100%;
      }
    }
    h2{
      &.big-title{
        --val: 2.5rem;
      }
    }

    h2{
      --min: 1.5rem;
      --val: 2rem;
      --max: 5rem;

      small{
        --min: 1rem;
        --val: 1.5rem;
        --max: 4rem;
      }
    }

    p{
      --min: 1rem;
      --val: 1.4rem;
      --max: 2.8rem;
    }

    .manoBox{
      position: relative;

      &#mano1 {
        width: 100vw;
        top: 30vh;
        left: -10vw;
      }
      &#mano2 {
        width: 100vw;
      }
      &#mano3 {
        width: 100vw;
        top: 20vh;
        left: -20vw;
      }
      &#mano4 {
        width: 100vw;
        top: 40vh;
        right: -30vw;
      }
    }
  }
  .w-5{
    max-width: 100vw;
  }

  #countdown{
    padding: 20px;
    ul{
      width: 200px;
      height: 200px;
      padding: 2rem;

      li{
        font-size: 1rem;
      }
    }
  }
  
}