@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;500&family=Merienda+One&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

em {
  font-style: italic;
}

b {
  font-weight: 700;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
}

html {
  overflow-x: hidden;
}

#gradient {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -10;
}

#container {
  padding: 0;
  position: relative;
  z-index: 100;
  overflow-x: hidden;
  padding-bottom: 10vh;
  background-color: transparent;
}

#container::after {
  content: "";
  position: absolute;
  z-index: 500;
  bottom: 5vh;
  left: 15vw;
  width: 70vw;
  height: 2px;
  border-top: 1px dashed rgba(245, 245, 220, 0.2);
}

#container #colorsBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 100vh);
  pointer-events: none;
}

#container #colorsBox .colorTrigger {
  position: relative;
  width: 100%;
}

#container section {
  width: 100%;
  padding: 0vh 0 8vh 0;
  max-width: 80vw;
  margin: 0 auto;
  position: relative;
}

#container section:first-of-type {
  padding: 0;
}

#container section.ubicacion {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin-bottom: 0vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container section.ubicacion img {
  position: absolute;
  z-index: 500;
  width: 90vw;
  max-width: 90vw;
  height: 90vh;
  max-height: 90vh;
}

#container section.ubicacion img.map-colombia {
  width: 100vw;
  max-width: 100vw;
  left: 6vw;
}

#container section.ubicacion h3 {
  --min: 8rem;
  --val: 9vw;
  --max: 10rem;
  font-family: "Noto Serif Display";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  max-width: 70vw;
  color: #e2e2b7;
  position: absolute;
  z-index: 100;
  left: 8vw;
  opacity: 1;
}

#container section.ubicacion h3:nth-child(1) {
  opacity: 1;
}

#container section.ubicacion h3:nth-child(3) {
  opacity: 1;
}

#container section.m-section {
  min-height: 70vh;
}

#container section.big-quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 950px;
}

#container section.big-quote p {
  --min: 2.5rem;
  --val: 2.5rem;
  --max: 5rem;
  display: -webkit-box;
}

#container section.divider {
  height: 100vh;
}

#container section.dark p {
  color: #454545 !important;
}

#container section:first-of-type {
  padding: 0;
}

#container section .right-col {
  width: 60%;
  margin-left: 40%;
}

#container section .left-col {
  width: 70%;
}

#container section.f-width {
  max-width: 100%;
}

#container section.f-width img {
  width: 100%;
}

#container .center {
  text-align: center;
}

#container .right h2,
#container .right p {
  text-align: right;
}

#container h2,
#container small,
#container p {
  -webkit-marquee-increment: 0vw;
  font-size: clamp(var(--min), var(--val), var(--max));
}

#container h2 {
  --min: 3rem;
  --val: 3.8rem;
  --max: 5rem;
  font-family: "Merienda One", cursive;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  margin: 0 0 5vh 0;
  color: #993333;
  opacity: 0.8;
}

#container h2.big-title {
  --min: 3rem;
  --val: 4.9rem;
  --max: 8rem;
}

#container h2 small {
  --min: 2rem;
  --val: 3rem;
  --max: 4rem;
  display: block;
  margin-bottom: 20px;
}

#container p {
  --min: 1.6rem;
  --val: calc(0.5vw + 1.4rem);
  --max: 2.8rem;
  font-family: "Dosis", sans-serif;
  line-height: 1.3;
  color: white;
  padding: 10px 0 10px 0;
  font-weight: 300;
}

#container p:first-child {
  --min: 1.8rem;
  --val: calc(0.7vw + 1.4rem);
  --max: 3rem;
  color: white;
  max-width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: 300;
}

#container .manoBox {
  position: absolute;
  z-index: 200;
  pointer-events: none;
}

#container .manoBox img {
  width: 100%;
}

#container .manoBox img.manoA {
  position: relative;
  z-index: 10;
}

#container .manoBox img.manoBrillo {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.7s ease-out;
  transition: opacity 0.7s ease-out;
}

#container .manoBox img.manoBrillo.active {
  opacity: 1;
}

#container .manoBox#mano1 {
  width: 70vw;
  top: 3%;
  left: -50vw;
}

#container .manoBox#mano2 {
  width: 90vw;
  top: 70%;
  right: -20vw;
}

#container .manoBox#mano3 {
  width: 80vw;
  top: 13%;
  left: -50vw;
}

#container .manoBox#mano4 {
  width: 70vw;
  bottom: 15%;
  right: -20vw;
}

/***TOGGLE***/
.toggle,
.graphic-table {
  padding: 20px;
  border-radius: 100px;
  border-color: white !important;
  color: white;
  text-decoration: none;
  border: 1px solid;
  font-size: 1.2rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  display: inline-block;
}

.graphic-table:hover {
  background-color: #000;
  color: #fff;
}

.toggle {
  margin: 4rem 0;
}

.toggle img {
  width: 30px;
  margin: -7px 10px 10px;
  vertical-align: middle;
  -webkit-filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(100%);
          filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(100%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  display: inline-block;
}

.toggle:hover img {
  -webkit-filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(100%);
          filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(100%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.toggle-content {
  display: none;
  height: auto;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.toggle-content.is-visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh !important;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.inside-button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0px 18px 5px !important;
  z-index: 999999;
}

.mask-image {
  mask-image: url("https://res.cloudinary.com/daqkfiwnc/image/upload/v1647573770/assets/mask_cloud_gzcgdf.png");
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  mask-mode: alpha;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url("https://res.cloudinary.com/daqkfiwnc/image/upload/v1647573770/assets/mask_cloud_gzcgdf.png");
  -webkit-mask-size: 300% 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.mask-image.is-inview {
  mask-image: url("https://res.cloudinary.com/daqkfiwnc/image/upload/v1647573770/assets/mask_cloud_gzcgdf.png");
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  mask-mode: alpha;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url("https://res.cloudinary.com/daqkfiwnc/image/upload/v1647573770/assets/mask_cloud_gzcgdf.png");
  -webkit-mask-size: 300% 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-animation-name: mask-animation-image;
          animation-name: mask-animation-image;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: var(--cream);
  mask-image: url("https://res.cloudinary.com/daqkfiwnc/image/upload/v1647573770/assets/mask_cloud_gzcgdf.png");
  mask-size: 100% 100%;
  mask-mode: alpha;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url("https://res.cloudinary.com/daqkfiwnc/image/upload/v1647573770/assets/mask_cloud_gzcgdf.png");
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-animation-name: mask-animation;
          animation-name: mask-animation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.mask-hide {
  -webkit-animation-name: mask-hide;
          animation-name: mask-hide;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.modal#fragmentos {
  background-color: #cb9866;
}

.modal#entre-dientes {
  background-color: #987f4d;
}

.modal#anonimos {
  background-color: #339898;
}

.modal#pazzz {
  background-color: #348080;
}

.content-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes mask-animation {
  0% {
    opacity: 1;
    mask-size: 0vw 0vh;
    -webkit-mask-size: 0vw 0vh;
  }
  100% {
    opacity: 1;
    mask-size: 300vw 300vh;
    -webkit-mask-size: 300vw 300vh;
  }
}

@keyframes mask-animation {
  0% {
    opacity: 1;
    mask-size: 0vw 0vh;
    -webkit-mask-size: 0vw 0vh;
  }
  100% {
    opacity: 1;
    mask-size: 300vw 300vh;
    -webkit-mask-size: 300vw 300vh;
  }
}

@-webkit-keyframes mask-animation-image {
  0% {
    opacity: 0;
    mask-size: 0% 0%;
    -webkit-mask-size: 0% 0%;
  }
  100% {
    opacity: 1;
    mask-size: 300% 100%;
    -webkit-mask-size: 300% 100%;
  }
}

@keyframes mask-animation-image {
  0% {
    opacity: 0;
    mask-size: 0% 0%;
    -webkit-mask-size: 0% 0%;
  }
  100% {
    opacity: 1;
    mask-size: 300% 100%;
    -webkit-mask-size: 300% 100%;
  }
}

@-webkit-keyframes mask-hide {
  0% {
    opacity: 1;
    mask-size: 300vw 300vh;
    -webkit-mask-size: 300vw 300vh;
  }
  100% {
    opacity: 1;
    mask-size: 0vw 0vh;
    -webkit-mask-size: 0vw 0vh;
  }
}

@keyframes mask-hide {
  0% {
    opacity: 1;
    mask-size: 300vw 300vh;
    -webkit-mask-size: 300vw 300vh;
  }
  100% {
    opacity: 1;
    mask-size: 0vw 0vh;
    -webkit-mask-size: 0vw 0vh;
  }
}

/** gallery **/
.gallery {
  padding: 2px;
  padding: 2px;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery .photo {
  position: relative;
  float: left;
  margin: 2px;
  width: 32%;
  cursor: pointer;
  background: #000;
  -webkit-animation: small 0.5s ease-in-out both;
  animation: small 0.5s ease-in-out both;
  -webkit-transition: z-index 0s linear 0.5s, -webkit-transform 0.5s ease-in-out;
  transition: z-index 0s linear 0.5s, -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, z-index 0s linear 0.5s;
  transition: transform 0.5s ease-in-out, z-index 0s linear 0.5s, -webkit-transform 0.5s ease-in-out;
}

.gallery .photo.active {
  -webkit-animation: big 0.5s ease-in-out both;
  animation: big 0.5s ease-in-out both;
}

.gallery .photo:nth-child(1) {
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

.gallery .photo:nth-child(2) {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.gallery .photo:nth-child(3) {
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
}

.gallery .photo:nth-child(4) {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.gallery .photo:nth-child(5) {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.gallery .photo:nth-child(6) {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.gallery .photo:nth-child(7) {
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

.gallery .photo:nth-child(8) {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.gallery .photo:nth-child(9) {
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.gallery .photo img {
  width: 100%;
  height: auto;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.gallery .photo.away img {
  opacity: 0;
}

/*** LINEA DE TIEMPO ***/
.linea-interactiva {
  position: relative;
  height: 100%;
}

.linea-interactiva .fechas {
  height: 170%;
  position: absolute;
  z-index: 9999;
  top: -24%;
  cursor: pointer;
}

.linea-interactiva .fechas:hover .forma-interactiva {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.linea-interactiva .fechas .fecha {
  font-size: 1.8rem;
  color: #fff;
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  position: absolute;
}

.linea-interactiva .fechas.fecha-1980 {
  width: 30%;
}

.linea-interactiva .fechas.fecha-1980:hover .forma-interactiva {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.linea-interactiva .fechas.fecha-1980:hover .content-fecha {
  height: 50%;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.linea-interactiva .fechas.fecha-1980 .content-fecha {
  position: absolute;
  height: 0%;
  width: 100%;
  bottom: 30%;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.linea-interactiva .fechas.fecha-1980 .fecha {
  bottom: 5%;
  left: 25%;
}

.linea-interactiva .fechas.fecha-1980 .linea-fecha {
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-right: 1px;
  border-top: 1px;
  width: 100%;
  height: 260px;
  bottom: 0%;
  left: 18%;
}

.linea-interactiva .fechas.fecha-1980 .forma-interactiva {
  width: 88%;
  height: 27%;
  transform: skew(0deg, 6deg);
  -webkit-transform: skew(0deg, 0deg);
  -moz-transform: skew(0deg, 0deg);
  -o-transform: skew(0deg, 0deg);
  -ms-transform: skew(0deg, 0deg);
  position: absolute;
  top: 37%;
  left: 10%;
  opacity: 0;
  background: rgba(252, 203, 104, 0.5);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.linea-interactiva .fechas.fecha-1988 {
  width: 21%;
  left: 30%;
}

.linea-interactiva .fechas.fecha-1988 .content-fecha {
  position: absolute;
  height: 0%;
  width: 100%;
  top: 0%;
  opacity: 1;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.linea-interactiva .fechas.fecha-1988 .fecha {
  top: 20%;
  left: 0%;
}

.linea-interactiva .fechas.fecha-1988 .linea-fecha {
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-left: 1px;
  border-bottom: 1px;
  width: 65%;
  height: 254px;
  top: 40%;
  left: 0%;
}

.linea-interactiva .fechas.fecha-1988 .forma-interactiva {
  width: 56%;
  height: 37%;
  transform: skew(-2deg, 3deg);
  -webkit-transform: skew(-2deg, 3deg);
  -moz-transform: skew(-2deg, 3deg);
  -o-transform: skew(-2deg, 3deg);
  -ms-transform: skew(-2deg, 3deg);
  position: absolute;
  top: 26%;
  left: 13%;
  opacity: 0;
  background: rgba(252, 203, 104, 0.5);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.linea-interactiva .fechas.fecha-1988:hover .content-fecha {
  height: 50%;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.linea-interactiva .fechas.fecha-1988:hover .forma-interactiva {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.linea-interactiva .fechas.fecha-1997 {
  width: 10%;
  left: 51%;
}

.linea-interactiva .fechas.fecha-1997:hover .content-fecha {
  height: 50%;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.linea-interactiva .fechas.fecha-1997:hover .forma-interactiva {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.linea-interactiva .fechas.fecha-1997 .content-fecha {
  position: absolute;
  height: 0%;
  width: 100%;
  top: 0%;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.linea-interactiva .fechas.fecha-1997 .fecha {
  top: 32%;
  left: 0%;
  width: 100%;
}

.linea-interactiva .fechas.fecha-1997 .linea-fecha {
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-right: 1px;
  border-bottom: 1px;
  width: 100%;
  height: 201px;
  top: 52%;
  left: 2%;
}

.linea-interactiva .fechas.fecha-1997 .forma-interactiva {
  width: 74%;
  height: 29%;
  transform: skew(-2deg, 3deg);
  -webkit-transform: skew(-2deg, 3deg);
  -moz-transform: skew(-2deg, 3deg);
  -o-transform: skew(-2deg, 3deg);
  -ms-transform: skew(-2deg, 3deg);
  position: absolute;
  left: 0%;
  top: 34%;
  opacity: 0;
  background: rgba(252, 203, 104, 0.5);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.linea-interactiva .fechas.fecha-2005 {
  width: 39%;
  left: 61%;
}

.linea-interactiva .fechas.fecha-2005:hover .content-fecha {
  height: 50%;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.linea-interactiva .fechas.fecha-2005:hover .forma-interactiva {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.linea-interactiva .fechas.fecha-2005 .content-fecha {
  position: absolute;
  height: 0%;
  width: 100%;
  bottom: 30%;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.linea-interactiva .fechas.fecha-2005 .fecha {
  bottom: 5%;
  left: 25%;
}

.linea-interactiva .fechas.fecha-2005 .linea-fecha {
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-right: 1px;
  border-top: 1px;
  width: 100%;
  height: 260px;
  bottom: 0%;
  left: 18%;
}

.linea-interactiva .fechas.fecha-2005 .forma-interactiva {
  width: 36%;
  height: 18%;
  transform: skew(0deg, 6deg);
  -webkit-transform: skew(-3deg, 3deg);
  -moz-transform: skew(-3deg, 3deg);
  -o-transform: skew(-3deg, 3deg);
  -ms-transform: skew(-3deg, 3deg);
  position: absolute;
  top: 37%;
  left: 4%;
  opacity: 0;
  background: rgba(252, 203, 104, 0.5);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/***ENTRE DIENTES***/
.thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.thumbs-block {
  position: relative;
  overflow: hidden;
}

.thumbs-block .thumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  background-size: cover;
  padding: 70px;
}

.thumbs-block .thumbs .thumb img {
  max-width: 250px;
  margin: 20px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.thumbs-block .thumbs .thumb img:hover {
  max-width: 250px;
  margin: 20px;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  z-index: 1;
  cursor: pointer;
}

.thumbs-block .thumbs .background img {
  position: absolute;
  width: auto !important;
  max-width: inherit;
  left: 0;
  top: 0;
}

.title-yellow {
  color: #FCCB68;
}

.w-5 {
  max-width: 50vw;
  margin: 0 auto;
}
